.head {
    color: green;
}
#title{
    background: coral;
    border: 80px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#heading {
    color: blueviolet;
}
img{
    height: 100px;
    width: 40%;
}
button{
    color: green;
    size: A3;
}